body {
  padding-top: 45pt;
  background-image: url("../images/custom/backgroundRGB-21-156-249.png");
  background-repeat: repeat;
  font-family: arial;
}

.list-unstyled li {
    margin-bottom: 12pt !important;
}


img#logo {
	max-height: 40pt;
}

select, input {
	width: 100%;
	height: 25pt;
}

button.navSection {
	padding: 0 1em;
	vertical-align: initial;
	height: 25pt;
}

#submitSearch:hover {
	background-color: white;
	color:  rgb(21,156,249)
}


#noResults{
	text-align: center;
	background: white;
	border: 1pt solid rgb(47, 47, 209);
	margin: 3% 0;
}

#noResults h1 {
	margin: 3% 0;
	color: rgb(246, 139, 31);
}


#noResults p {
	margin: 8% 0;
}

button.recherche {
	margin: 2%;
}

header {
	background-image: url(../images/custom/coverAssosoft.jpg);
	background-size: cover;
	backgroud-repeat: no-repeat;
}

header h1, header h2, header p, div#listingTitle h1 {
	color: white;
	text-shadow: 1pt 1pt 2pt black;
}

header h1 {
	color: rgb(249,144,107);
}

header p {
	font-size: 14pt;
}

div#listingTitle h1 {
	color: rgb(249,144,107);
	margin-top: 24pt;
	text-align: center;
	margin-bottom: 22pt;
}

#pagination {
	margin: 4% 0;
}

#pageList, .pageLink {
	list-type-style: none;
	text-align: center;
	display: inline;
	margin: .5%;
}

.pageLink {
	background-color: white;
	color: black;
	padding:  .25% .5%;
	border-radius: 5%;
} 

.pageLink a:hover {
	text-decoration: none;
	color: rgb(243,112,75);
}

#connectionTitle, #inscriptionTitle {
	font-size: 24pt;
	font-weight: bolder;
	color: black;
	text-align: center;
	margin-bottom: 6pt;
}

#titleFormConnection, #titleFormInscription  {
	margin: 15%;
	padding: 5%;
	border: 1pt solid orange;
	background-color: white;
	text-align: justify;
}


fieldset {
	margin: 2% 0;
}

.legend {
	color: orange;
}

.btn {
	padding: 0 0.25em;
}
.actionsDiv {
	display: inline-block;
	width: 40%;
	height: 30pt;
	margin: 0 3%;
}

.erreur {
	color: orangered;
}

.actionsDiv input{
	width: 100%;
}

label#titleFormConnection, label#titleFormInscription {
    text-align: left;
}

input#titleFormConnection, input#titleFormInscription {
   float: right;
}


.pageLink a:visited {
	text-align:center;
	color: orange;
	background-color: teal;
}

#assoDetails h1{
	text-align: center;
	font: 40pt Garamond, sans-serif;
	color: chocolate;
    background-color: dimgray;
}

#imageAssoDetails {
	width: 100%;
}

#outils {
	padding-top: 18pt;
}

#informations, #services, #liens {
	width:100%;
	text-align: left;
	color:white;
	margin-bottom: 2%;
}

#informations a, #services a, #liens a {
	text-decoration: none;
}

#informations h5, #services h5, #liens h5 {
	text-align: center;
	color: orange;
}

#informations, #services, #liens {
    color: chocolate;
    text-align: center;
    width: 95%;
    background-color: rgb(58,58,56);
    font:  14pt Garamond, sans-serif;
    margin: 10pt;
}

#informations .card-body, #services .card-body, #liens .card-body {
    font-family: arial;
    text-align: left;
    color: #fff;
}

.error {
	color: orangered;
}

#titleRestricted {
	margin: 24%;
	color: white;
	text-align: center;
}

#dashboardDiv {
	margin: 3% 0;
}

#titleDashboard {
	color: orange;
	text-align: center;
}

#assoCard {
	text-align: center;
	margin: 2% 0;
}


#rights {
	display: inline;
	color: white;
	text-align: right;
	margin-right: 2%;
}