<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

<!-- Custom styles for this template -->
<link href="css/heroic-features.css" th:href="@{/css/heroic-features.css}" rel="stylesheet"/>
<title>Accès restreint</title>
</head>
<body>
	<nav th:insert="/includes/navbar :: navbar"></nav>
	
	<div id="restricted">
		<h1 id="titleRestricted">Accès réservé</h1>
	</div>
	
	<footer th:insert="/includes/footer :: footer"></footer>
</body>
</html>