<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="css/heroic-features.css"
	th:href="@{/css/heroic-features.css}" rel="stylesheet" />
<title>Administration</title>
</head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<nav th:insert="/includes/navbar :: navbar"></nav>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div id="dashboardDiv">
						<h1 id="titleDashboard" class="shadow h-100 py-2">Administration</h1>
					</div>

					<!-- Content Row -->
					<div class="row">

						<!-- Association Card -->
						<div id="assoCard" class="col-xl-3 col-md-6" th:each="asso:${listeAsso}">
							<div class="card border-left-primary">
								<div class="card-body">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
												th:text="${asso.assoNom}"></div>
									<a th:href="@{/assoDetail(id=${asso.assoId})}"> 
									<img
										class="card-img-top assoCover"
										th:src="${asso.medias[0].mediaPath}" alt="">
									</a>
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="card-footer">
												<a onclick="return confirm('Confirmez-vous la suppression ?')" th:href="@{/dltAsso(id=${asso.assoId})}"
													class="btn btn-danger"> Supprimer </a>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-calendar fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Content Row -->

						<div class="row"></div>
						<!-- /.container-fluid -->

					</div>
					<!-- End of Main Content -->
					<div id="pagination" th:if="(${noResults}==null)">
						<span>Page: </span>
						<ul id="pageList" class="nav nav-pills">
							<li class="pageLink" th:each="p:${arrPages}">
							   <!-- Envoi d'une requête avec le numéro de la page en paramètre -->
			                   <a th:href="@{dashboard(page=${p})}" th:text="${p}"></a>
			               </li>
						</ul>
					</div>
					
				</div>
				
			</div>
		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->
	<footer th:insert="/includes/footer :: footer"></footer>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

</body>
</html>