<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

<!-- Custom styles for this template -->
<link href="css/heroic-features.css" th:href="@{/css/heroic-features.css}" rel="stylesheet"/>
<title>Authentification</title>
</head>
<body>
	<nav th:insert="/includes/navbar :: navbar"></nav>
	
	<div id="main">
			<div id="titleFormConnection">
				<div id="titleDiv">
					<h1 id="connectionTitle">Authentification</h1>
				</div>
				<div id="formDiv">
					<form enctype="multipart/form-data" method="POST" id="authenticationAsso"  th:action="@{/login}" accept-charset="UTF-8">
						<div id="loginDiv" class="form-group">
							<label for="identifiant">Identifiant</label>
							<input id="identifiant" name="username" type="text" class="form-control" required/>
							<span class="erreur"></span>
						</div>
						<div id="passDiv" class="form-group">
							<label for="pass">Mot de Passe</label>
							<input id="pass" name="password" type="password" class="form-control" required/>
							<span th:if="${param.error}" class="error">
								Erreur d'authentification.
							</span>
							<span th:if="${param.logout}" class="error">
								Vous avez quitté l'application.
							</span>
						</div>
						<div class="actionsDiv">
							<input type="reset" class="btn btn-warning" value="Réinitialiser"/>
						</div>
						<div class="actionsDiv">
							<input type="submit" class="btn btn-primary" value="Envoyer"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	
	<footer th:insert="/includes/footer :: footer"></footer>
</body>
</html>