<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="fr">
<meta charset="utf-8"/>

<!-- Navigation -->
<nav th:fragment="navbar" id="navbar"
	class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/"><img id="logo"
			th:src="@{images/custom/logoRGB-246-139-31.png}" /></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
			<form method="GET"
				th:action="@{/index(localite=${localiteChoisie}, categorie=${categorieChoisie})}"
				accept-charset="UTF-8">
					<div class="col-12">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12 p-0">
								<select id="locality" name="localite">
									<option value="">Localité</option>
									<option th:each="localite:${listeLocalites}"
										th:value="${localite.adresseNom}"
										th:utext="${localite.adresseNom}"
										th:selected="(${localite.adresseNom} == ${localiteChoisie})">
									</option>
								</select>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12 p-0">
								<select id="category" name="categorie">
									<option  value="" th:value="''">Catégorie</option>
									<option th:each="categorie:${listeCategories}"
										th:value="${categorie.catIntitule}"
										th:utext="${categorie.catIntitule}"
										th:selected="(${categorie.catIntitule} == ${categorieChoisie})">
									</option>
								</select>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12 p-0">
								<input class="navSection" name="contenuRecherche" type="text"
									th:value="${contenuRecherche}" placeholder="Votre saisie...">
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12 p-0">
								<button type="submit" class="btn btn-primary navSection">Envoi</button>
							</div>
						</div>
					</div>
			</form>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/" th:href="@{/index}">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/inscription" th:href="@{/inscription}" th:if="${authValue} == 1">S'inscrire</a>
			</li>
			<li class="nav-item" th:if="${authValue} == 1"><a class="nav-link" href="/login" th:href="@{/login}">Connexion</a>
			</li>
			<li class="nav-item" th:if="${authValue} == 0"><a class="nav-link" href="/login?logout" th:href="@{/login?logout}">Déconnexion</a>
			</li>
		</ul>
	</div>
</nav>

</html>